<div class="tutorial" *ngIf="currentStep">
  <div
    class="step"
    [class]="[
      'step_' + currentStep.id,
      currentStep.class ? currentStep.class : 'default'
    ]"
  >
    <!-- welcome -->
    <ng-container *ngIf="currentStep.id == 'welcome'">
      <div class="content">
        <h3>Welcome to the <strong>DMM!</strong></h3>
        Do you want us to show you around?
      </div>
      <div class="controls">
        <button class="button_outline" (click)="close()">No</button>
        <button (click)="nextStep()">Yes</button>
      </div>
    </ng-container>

    <!-- videos -->
    <ng-container *ngIf="currentStep.id == 'videos'">
      <div class="content">
        <div class="center">
          <div [style.font-weight]="'bold'">
            {{ videos[currentVideoIndex]!.title }}
          </div>
          <div [style.text-align]="'justify'">
            {{ videos[currentVideoIndex]!.description }}
          </div>
        </div>
        <iframe
          style="width: 100%; height: 400px; margin: 10px 0; border: none"
          [attr.src]="
            'https://mediaspace.illinois.edu/embed/secure/iframe/entryId/' +
              videos[currentVideoIndex]!.id +
              '/uiConfId/26261741/st/0' | safeUrl
          "
          allow="autoplay *; fullscreen *; encrypted-media *"
        ></iframe>
      </div>
      <div class="controls">
        <button class="button_outline" (click)="previousVideo()">Back</button>
        <button (click)="nextVideo()">Next</button>
      </div>
    </ng-container>

    <!-- workspace -->
    <ng-container *ngIf="currentStep.id == 'workspace'">
      <div class="content">
        <h3>The Workspace</h3>
        This is the <strong>workspace</strong>, a sandbox where you can design
        the molecules you want!
      </div>
      <div class="controls">
        <button class="button_outline" (click)="previousStep()">Back</button>
        <button (click)="nextStep()">Next</button>
      </div>
    </ng-container>

    <!-- blocks -->
    <ng-container *ngIf="currentStep.id == 'blocks'">
      <div class="content">
        <h3>The Block Tray</h3>
        This is the <strong>block tray</strong>, an area that stores Lego-like
        molecule blocks. You will use them to build your molecules.
      </div>
      <div class="controls">
        <button class="button_outline" (click)="previousStep()">Back</button>
        <button (click)="nextStep()">Next</button>
      </div>
    </ng-container>

    <!-- build -->
    <ng-container *ngIf="currentStep.id == 'build'">
      <div class="content">
        <h3>Building a Molecule</h3>
        Now that you know where everything in the DMM is, let’s show you how to
        build your <strong>first molecule!</strong>
      </div>
      <div class="controls">
        <button class="button_outline" (click)="previousStep()">Back</button>
        <button (click)="nextStep()">Next</button>
      </div>
    </ng-container>

    <!-- build 002 -->
    <ng-container *ngIf="currentStep.id == 'build_002'">
      <div class="content">
        <div class="center">
          Filter by block type using <strong>tags</strong>
        </div>
        <!-- todo: change this to the animated gif -->
        <img src="assets/tutorial/build_002.png" />
      </div>
      <div class="controls">
        <button class="button_outline" (click)="previousStep()">Back</button>
        <button (click)="nextStep()">Next</button>
      </div>
    </ng-container>

    <!-- build 003 -->
    <ng-container *ngIf="currentStep.id == 'build_003'">
      <div class="content">
        <div class="center">Hover on block to view additional properties</div>
        <!-- todo: change this to the animated gif -->
        <img src="assets/tutorial/build_003.png" />
      </div>
      <div class="controls">
        <button class="button_outline" (click)="previousStep()">Back</button>
        <button (click)="nextStep()">Next</button>
      </div>
    </ng-container>

    <!-- build 004 -->
    <ng-container *ngIf="currentStep.id == 'build_004'">
      <div class="content">
        <div class="center">Drag and drop blocks into the workspace.</div>
        <!-- todo: change this to the animated gif -->
        <img src="assets/tutorial/build_004.png" />
      </div>
      <div class="controls">
        <button class="button_outline" (click)="previousStep()">Back</button>
        <button (click)="nextStep()">Next</button>
      </div>
    </ng-container>

    <!-- finish -->
    <ng-container *ngIf="currentStep.id == 'finish'">
      <div class="content">
        <h3>Congratulations on finishing the tutorial!</h3>
        You’re now ready to create your <strong>first molecule</strong>.
      </div>
      <div class="controls">
        <button class="full" (click)="close()">Okay</button>
      </div>
    </ng-container>
  </div>
</div>
