<div class="tutorial" *ngIf="currentStep">
  <div
    class="step"
    [class]="[
      'step_' + currentStep.id,
      currentStep.class ? currentStep.class : 'default'
    ]"
  >
    <!-- welcome -->
    <ng-container *ngIf="currentStep.id == 'welcome'">
      <div class="content">
        <h3>Welcome to the <strong>DMM!</strong></h3>
        Do you want us to show you around?
      </div>
      <div class="controls">
        <button class="button_outline" (click)="close()">No</button>
        <button (click)="nextStep()">Yes</button>
      </div>
    </ng-container>

    <!-- videos -->
    <ng-container *ngIf="currentStep.id == 'videos'">
      <div class="content">
        <div class="center">
          <div [style.font-weight]="'bold'">
            {{ videos[currentVideoIndex]!.title }}
          </div>
          <div [style.text-align]="'justify'">
            {{ videos[currentVideoIndex]!.description }}
          </div>
        </div>
        <iframe
          style="width: 100%; height: 400px; margin: 10px 0; border: none"
          [attr.src]="
            'https://mediaspace.illinois.edu/embed/secure/iframe/entryId/' +
              videos[currentVideoIndex]!.id +
              '/uiConfId/26261741/st/0' | safeUrl
          "
          allow="autoplay *; fullscreen *; encrypted-media *"
        ></iframe>
      </div>
      <div class="controls">
        <button class="button_outline" (click)="previousVideo()">Back</button>
        <button (click)="nextVideo()">Next</button>
      </div>
    </ng-container>

    <!-- finish -->
    <ng-container *ngIf="currentStep.id == 'finish'">
      <div class="content">
        <h3>Congratulations on finishing the tutorial!</h3>
        You’re now ready to create your <strong>first molecule</strong>.
      </div>
      <div class="controls">
        <button class="full" (click)="close()">Okay</button>
      </div>
    </ng-container>
  </div>
</div>
