/**************** app-build css ******************/
@use "sass:math";
@import '../styles/core';


//**************** custom mixins ******************


//**************** css ******************

:host {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: get_index(interface_canvas);

  display: flex;

  app-sidebar {
    z-index: get_index(interface_sidebar);
  }

  .canvas_container {
    position: relative;
    flex-grow: 1;
  }

  .canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;

    display: flex;

    @include translate(-50%, -50%);
  }

  .canvas_controls {
    position: absolute;
    right: $padding;
    bottom: $padding;
    z-index: 100;

    display: flex;
    flex-direction: column;
    align-items: center;

    .button {
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      min: {
        width: 32px;
        height: 32px;
      }

      border: 1px solid color_variable('interface_border');

      @include border-radius($border_radius);
      @include transition(#{background-color .2s easing($ease-in)});

      & + .button {
        margin: {
          top: math.div($padding, 2);
        }
      }

      &:hover {
        background: {
          color: color_variable('button_hover');
        }

        @include transition(none);
      }
    }
  }
}
