<app-sidebar></app-sidebar>

<div class="canvas_container">
  <div class="canvas_toolbar">
  </div>

  <div class="canvas">
    <block type="start" svgUrl="assets/test_svg_001.svg"></block>
    <block type="middle" svgUrl="assets/test_svg_004.svg"></block>
    <block type="end"></block>
  </div>

  <div class="canvas_controls">
    <div class="button zoom_in">+</div>
    <div class="button zoom_out">-</div>
    <div class="button center">.</div>
    <div class="button delete">X</div>
  </div>
</div>
