$size: 300px;

:host {
  position: absolute;
  right: 16px;
  top: 60px;
  width: $size;
  height: $size;
  z-index: 200;
  border: 1px solid lightgray;
  background: white;
  pointer-events: none;
}

svg * {
  transition: all 200ms ease-in;
}
