$size: 300px;

:host {
  position: absolute;
  right: 16px;
  top: 60px;
  width: $size;
  height: $size;
  z-index: 200;
  background: white;
  //pointer-events: none;
  svg {
    circle {
      transition: all 200ms ease-in;
    }
    .axis-label {
      font-size: 40px;
    }
  }
}
