@import '../styles/core';

svg{
    rect{
        fill: color_variable('background');
        fill-opacity: 0.4;
        &:hover{
          stroke: color_variable('molecule_hover_border');
          fill:  color_variable('molecule_hover_fill');
          stroke-width: 2;
        }
    }

}

