<div class="title">Choose a block set</div>
<div class="cards">
  <div class="card">
    <div class="card-image"></div>
    <div class="card-content">
      <div class="card-title">OPV Set</div>
      <div class="summary">
        The OPV (Organic Photovoltaic) Block Set is a revolutionary energy solution designed to harness the power of
        sunlight in a sustainable and efficient manner. Each block in the set is equipped with state-of-the-art organic
        photovoltaic cells that convert sunlight into electricity, providing a renewable energy source for various
        applications.
      </div>
      <button class="card-button" (click)="goToPersonalWorkspace(BlockSetId.OPV)">
        Explore
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-image"></div>
    <div class="card-content">
      <div class="card-title">Color Wheel Set</div>
      <div class="summary">
        The Color Wheel Block Set is a unique and innovative tool that combines the principles of color theory with the
        concept of lambda max, the wavelength at which a substance absorbs light most strongly. Each block in the set is
        designed to represent a different lambda max value, allowing users to explore how different wavelengths of light
        interact with colors.
      </div>
      <button class="card-button" (click)="goToPersonalWorkspace(BlockSetId.ColorWheel)">
        Explore
      </button>
    </div>
  </div>
</div>
