@import "../styles/core";

:host {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';

  .main {
    z-index: get_index("splash") + 1;

    width: 1080px;
    padding-right: 626px;

    h1 {
      font-weight: 500;
      font-size: 30px;
    }

    .input {
      margin: 24px 0;

      label, input {
        display: block;
        width: 100%;
      }

      label {
        margin: 8px 0;
      }


      ::ng-deep p-password div {
        width: 100%;
      }

      ::ng-deep input {
        width: 100%;
        background: #F8F8F8;
        border: 1px solid #DEDEDE;
        border-radius: 16px;
        font-weight: 700;
        font-size: 14px;
        color: black;

        ::placeholder {
          color: #959595;
        }
      }

    }

    .buttons {
      display: flex;
      justify-content: space-between;
      gap: 12px;

      p-button {
        flex: auto;

        ::ng-deep button {
          width: 100%;
        }
      }
    }
  }

  .button {
      cursor: pointer;
      display: inline-block;

      min: {
        width: 110px;
      }

      border: none;

      color: get_color("text"); //background
      background: {
        color: get_color("splash_button");
      }

      margin: {
        top: $padding;
        right: 10px;
      }
      padding: $padding ($padding * 1.5);

      font: {
        weight: bold;
      }
      text: {
        align: center;
      }

      @include border-radius(2000px); //$border_radius);

      &:hover {
        color: get_color("background"); //background
        background: {
          color: get_color("splash_button_hover");
        }
      }
    }

  a {
    color: black;
  }
}

/**************** splash css ******************/

$splash_padding: 20px; //padding around screen
$splash_position: 60%; //pivot position from top of screen (where title and footer meet)
$splash_footer_height: 175px;

$splash_form_field_width: 240px;

//**************** custom mixins ******************

//inspired by https://codepen.io/P1N2O/pen/pyBNzX
@mixin gradient_background($name, $color, $speed: 10s) {
  .background_#{$name} {
    position: absolute;
    z-index: -10;

    background-image: radial-gradient(
      rgba($color, 0.5) 20%,
      rgba($color, 0) 60%
    );

    @include animation(gradient $speed ease infinite);
    @include translate(-50%, -50%);

    @content;
  }
}

//**************** animations ******************

@include keyframes(gradient) {
  0% {
    @include opacity(100);
  }
  50% {
    @include opacity(0);
  }
  100% {
    @include opacity(100);
  }
}

@include keyframes(fade_in) {
  0% {
    @include opacity(0);
  }
  100% {
    @include opacity(100);
  }
}

@include keyframes(slide_down) {
  0% {
    @include translate(0%, -40%);
    @include opacity(0);
  }
  100% {
    @include translate(0%, 0%);
    @include opacity(100);
  }
}

@include keyframes(slide_right) {
  0% {
    @include translate(-30px, 0%);
    @include opacity(0);
  }
  100% {
    @include translate(0px, 0%);
    @include opacity(100);
  }
}

@include keyframes(rotate) {
  0% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(360deg);
  }
}

@include keyframes(yellow_drop_in) {
  0% {
    @include translate(0px, 0px);
    @include rotate(0deg);
  }
  20% {
    @include translate(0px, 0px);
    @include rotate(45deg);
  }
  28% {
    @include translate(0px, 100px);
  }
  90% {
    @include translate(0px, 100px);
  }
  100% {
    @include translate(0px, 0px);
    @include rotate(25deg);
  }
}

@include keyframes(arms_dangle) {
  0% {
    @include rotate(0deg);
  }
  20% {
    @include rotate(-2deg);
  }
  23% {
    @include rotate(-20deg);
  }
  28% {
    @include rotate(-6deg);
  }

  //extra wave
  40% {
    @include rotate(4deg);
  }
  46% {
    @include rotate(-12deg);
  }
  52% {
    @include rotate(4deg);
  }
  58% {
    @include rotate(-12deg);
  }
  64% {
    @include rotate(-6deg);
  }

  90% {
    @include rotate(-6deg);
  }
  100% {
    @include rotate(-60deg);
  }
}

@include keyframes(arms_dangle_opposite) {
  0% {
    @include rotate(0deg);
  }
  20% {
    @include rotate(-1deg);
  }
  23% {
    @include rotate(20deg);
  }
  28% {
    @include rotate(6deg);
  }
  90% {
    @include rotate(6deg);
  }
  100% {
    @include rotate(60deg);
  }
}

@include keyframes(floating) {
  0% {
    @include rotate(0deg);
  }
  30% {
    @include rotate(2deg);
  }
  50% {
    @include rotate(-2.5deg);
  }
  100% {
    @include rotate(0deg);
  }
}

@include keyframes(floating_opposite) {
  0% {
    @include rotate(0deg);
  }
  30% {
    @include rotate(-5deg);
  }
  50% {
    @include rotate(5.5deg);
  }
  100% {
    @include rotate(0deg);
  }
}

@include keyframes(blink) {
  0% {
    @include translate(0px, -6px);
  }
  94% {
    @include translate(0px, -6px);
  }
  97% {
    @include translate(0px, 0px);
  }
  100% {
    @include translate(0px, -6px);
  }
}

@include keyframes(moustache) {
  0% {
    @include rotate(0deg);
  }
  80% {
    @include rotate(0deg);
  }
  90% {
    @include rotate(20deg);
  }
  100% {
    @include rotate(0deg);
  }
}

@include keyframes(cape_flapping) {
  0% {
    transform: skew(0deg, 0deg);
  }
  12% {
    transform: skew(5deg, -5deg); //15
  }
  22% {
    transform: skew(0deg, -3deg);
  }
  35% {
    transform: skew(1deg, -5deg); //15
  }
  70% {
    transform: skew(-1deg, 1deg);
  }
  80% {
    transform: skew(0deg, -1deg);
  }
  85% {
    transform: skew(2deg, 2deg); //15
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

@include keyframes(raise_arms) {
  0% {
    transform: scale(1, -1);
  }
  40% {
    transform: scale(1, -1);
  }
  45% {
    transform: scale(1, 1);
  }
  95% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, -1);
  }
}

@include keyframes(high_five) {
  0% {
    transform: scale(1, -1);
  }
  35% {
    transform: scale(1, -1);
  }
  40% {
    transform: scale(1, 1);
  }
  95% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, -1);
  }
}

@include keyframes(molecule_red_animation) {
  0% {
    right: -190px;
    top: 30%;
    @include rotate(0deg);
  }
  20% {
    right: 5%;
    top: 30%;
    @include rotate(45deg);
  }
  46% {
    right: 2%;
    top: 30%;
    @include rotate(20deg);
  }
  52% {
    right: 1%;
    top: 30%;
    @include rotate(30deg);
    //    filter: none;
  }
  58% {
    right: 18%;
    top: -160px;
    @include rotate(20deg);
    //    filter: blur(10px);
  }
  100% {
    right: 18%;
    top: -160px;
    @include rotate(20deg);
    //    filter: none;
  }
}

@include keyframes(goggle_shift) {
  0% {
    @include rotate(0deg);
    @include translate(0px, 0px);
  }
  12% {
    @include translate(4px, -1px);
  }
  17% {
    @include translate(-2px, 0px);
  }
  20% {
    @include translate(0px, 0px);
  }
  40% {
    @include rotate(8deg);
  }
  50% {
    @include rotate(-10deg);
  }
  52% {
    @include rotate(12deg);
  }
  54% {
    @include rotate(-12deg);
  }
  56% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(0deg);
  }
}

@include keyframes(red_swing) {
  0% {
    @include rotate(0deg);
  }
  14% {
    @include rotate(-10deg);
  }
  20% {
    @include rotate(6deg);
  }
  24% {
    @include rotate(-10deg);
  }
  28% {
    @include rotate(0deg);
  }

  38% {
    @include rotate(6deg);
  }
  45% {
    @include rotate(0deg);
  }
  48% {
    @include rotate(-16deg);
  }

  100% {
    @include rotate(0deg);
  }
}

@include keyframes(up_up_and_away) {
  0% {
    @include translate(0px, 0px);
    @include rotate(0deg);
  }
  20% {
    @include rotate(18deg);
  }
  24% {
    @include rotate(-12deg);
  }
  40% {
    @include rotate(2deg);
  }
  44% {
    @include rotate(18deg);
  }

  50% {
    @include translate(0px, 0px);
  }
  54% {
    @include translate(-5px, -9px);
  }
  100% {
    @include translate(-5px, -9px);
  }
}

@include keyframes(motion_line_animation) {
  0% {
    @include scale(0);
    @include opacity(0);
  }
  52% {
    @include scale(0);
    @include opacity(0);
  }
  55% {
    @include scale(1);
    @include opacity(100);
  }
  100% {
    @include scale(1);
    @include opacity(100);
  }
}

@include keyframes(green_tilt) {
  0% {
    transform: skew(0deg, 0deg);
  }
  30% {
    transform: skew(0deg, 0deg);
  }
  33% {
    transform: skew(-4deg, 0deg);
  }
  36% {
    transform: skew(0deg, 0deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

@include keyframes(open_mouth) {
  0% {
    transform: scale(1, 1);
  }
  70% {
    transform: scale(1, 1);
  }

  74% {
    transform: scale(1, 0.3);
  }
  97% {
    transform: scale(1, 0.3);
  }

  100% {
    transform: scale(1, 1);
  }
}

@include keyframes(jump) {
  0% {
    @include translate(0px, 0px);
    @include rotate(0deg);
  }
  35% {
    @include translate(0px, 0px);
  }
  38% {
    @include translate(0px, 4px);
  }
  41% {
    @include translate(0px, 0px);
    @include rotate(5deg);
  }

  //wiggle
  43% {
    @include rotate(5deg);
  }
  45% {
    @include rotate(-5deg);
  }
  47% {
    @include rotate(3deg);
  }
  49% {
    @include rotate(0deg);
  }

  100% {
    @include translate(0px, 0px);
    @include rotate(0deg);
  }
}

@include keyframes(jump_legs) {
  0% {
    @include translate(0px, 0px);
  }
  30% {
    @include translate(0px, 0px);
  }
  33% {
    @include translate(0px, -2px);
  }
  36% {
    @include translate(0px, 0px);
  }
  100% {
    @include translate(0px, 0px);
  }
}

@include keyframes(form_animation) {
  0% {
    max: {
      height: 0px;
    }
  }
  100% {
    max: {
      height: 120px;
    }
  }
}

@include keyframes(form_field_animation) {
  0% {
    max: {
      width: 0px;
    }
  }
  100% {
    max: {
      width: $splash_form_field_width;
    }
  }
}

//**************** css ******************

.splash {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: get_index("splash");

  background: {
    color: color_variable("background");
  }

  .splash_background {
    //    filter: blur(60px); //not needed and it really slows performance down on some browsers

    //NOTE: change the animation speed slightly for each set to provide a bit more randomness. try and use prime numbers (or ones that one line up with each other very often)
    @include gradient_background("green", #8cdcac, 10s) {
      left: 15vw;
      top: 30vh;

      width: 150vw; //circle based on width of browser
      height: 150vw;

      @include animation-delay(0s); //offset start of animation

      &.green_2 {
        left: 85vw;
        top: 60vh;

        width: 120vw; //circle based on width of browser
        height: 120vw;

        @include animation-delay(-5s);
      }
    }

    @include gradient_background("purple", #c8b2f7, 13s) {
      left: 60vw;
      top: 85vh;

      width: 130vw; //circle based on width of browser
      height: 130vw;

      @include animation-delay(-2s); //offset start of animation

      &.purple_2 {
        left: 40vw;
        top: -10vh;

        width: 140vw; //circle based on width of browser
        height: 140vw;

        @include animation-delay(-7s);
      }
    }

    @include gradient_background("blue", #549cde, 17s) {
      left: 110vw;
      top: 45vh;

      width: 120vw; //circle based on width of browser
      height: 120vw;

      @include animation-delay(-4s); //offset start of animation

      &.blue_2 {
        left: 20vw;
        top: 80vh;

        width: 120vw; //circle based on width of browser
        height: 120vw;

        @include animation-delay(-10s);
      }
    }
  }

  .title_container {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: (
      100% - $splash_position
    ); //$splash_footer_height + $splash_padding;
    z-index: 200; //above footer

    @include not_desktop() {
      left: $padding * 2;
      right: $padding * 2;
    }

    .title_welcome {
      font: {
        size: 140%;
      }
      line: {
        height: 120%;
      }

      @include animation(slide_down 1s easing($ease-in-out-cubic) 0.15s both);
    }

    .title_logo {
      margin: {
        top: $padding * 0.5;
      }

      font: {
        size: 350%;
        weight: 900;
      }
      text: {
        transform: uppercase;
      }
      line: {
        height: 110%;
      }

      @include animation(slide_right 1s easing($ease-in-out-cubic) 0.15s both);
    }

    .title_tagline {
      margin: {
        top: $padding * 0.2;
        bottom: $padding * 0.5;
      }

      line: {
        height: 140%;
      }

      @include animation(fade_in 1s easing($ease-in-out-cubic) 0.75s both);
    }

    .form {
      overflow: hidden;

      max: {
        height: 0px;
      }

      &.active {
        //todo: change to angular animtion to get proper height instead of guessing
        @include animation(
          form_animation 0.65s easing($ease-in-out-cubic) both
        );

        input {
          @include animation(
            form_field_animation 0.35s easing($ease-in-out-cubic) both
          );
        }
      }

      input {
        display: block;
        overflow: hidden;

        width: $splash_form_field_width;

        margin: {
          top: $padding;
          left: 3px; //offset to provide room for focus
        }
        padding: ($padding * 0.5) ($padding * 0.5);

        border: 0px;

        @include border-radius($border_radius);

        &:nth-child(1) {
          @include animation-delay(0.35s);
        }

        &:nth-child(2) {
          @include animation-delay(0.65s);
        }
      }
    }

    .button {
      cursor: pointer;
      display: inline-block;

      min: {
        width: 110px;
      }

      color: get_color("text"); //background
      background: {
        color: get_color("splash_button");
      }

      margin: {
        top: $padding;
        left: -(26px);
      }
      padding: $padding ($padding * 1.5);

      font: {
        weight: bold;
      }
      text: {
        align: center;
      }

      @include border-radius(2000px); //$border_radius);
      @include animation(
        floating 6s easing($ease-in-out-back) 0s both infinite
      );

      &:hover {
        color: get_color("background"); //background
        background: {
          color: get_color("splash_button_hover");
        }
      }
    }
  }

  .molecule_red {
    position: absolute;
    right: 0%;
    top: 30%;
    z-index: 1000; //above everything

    pointer-events: none;

    @include transform-origin(25px 40px);
    @include animation(
      molecule_red_animation 9s easing($ease-in-out-cubic) 1s both infinite
    );

    svg {
      @include scale(1.8);
    }

    .blink {
      ellipse {
        @include animation-duration(4.5s);
        @include animation-delay(-2s);
      }
    }

    .goggles {
      @include transform-origin(16.5px 14px);
      transform-box: fill-box;
      @include animation(goggle_shift 9s easing($ease-in-out) 1s both infinite);
    }

    .arms {
      @include transform-origin(40px 35px);
      transform-box: fill-box;
      @include animation(
        up_up_and_away 9s easing($ease-in-out) 1s both infinite
      );
    }

    .legs {
      @include transform-origin(12px 10px);
      transform-box: fill-box;
      @include animation(red_swing 9s easing($ease-in-out) 1s both infinite);
    }

    .motion_lines {
      @include transform-origin(0px 0px);
      transform-box: fill-box;
      @include animation(
        motion_line_animation 9s easing($ease-in-out) 1s both infinite
      );
    }

    //animation delay, placed here to see all the parts that need to be set the same
    @include animation-delay(1s);
    .goggles,
    .arms,
    .legs,
    .motion_lines {
      @include animation-delay(1s);
    }

    @include not_desktop() {
      svg {
        @include scale(1.4);
      }
    }
  }

  .molecule_yellow {
    position: absolute;
    left: 40%;
    top: -100px;
    z-index: 100;

    @include animation(
      yellow_drop_in 12s easing($ease-in-out-back) 4s both infinite
    );

    svg {
      @include scale(1.8);
    }

    .left_arm {
      @include transform-origin(15px 0px);
      transform-box: fill-box;
      @include animation(
        arms_dangle 12s easing($ease-in-out-back) 4s both infinite
      );
    }

    .right_arm {
      @include transform-origin(0px 0px);
      transform-box: fill-box;
      @include animation(
        arms_dangle_opposite 12s easing($ease-in-out) 4s both infinite
      );
    }

    .blink {
      ellipse {
        @include animation-duration(9s);
        @include animation-delay(-4s);
      }
    }
  }

  .molecule_blue {
    svg {
      @include scale(1.3);
    }

    .blink {
      ellipse {
        //        @include animation-duration(6s);
        @include animation-delay(-2s);
      }
    }

    .molecule {
      @include transform-origin(center -5px);
      transform-box: fill-box;
      @include animation(
        floating 6s easing($ease-in-out-back) 0s both infinite
      );
    }

    .legs {
      @include transform-origin(center 0px);
      transform-box: fill-box;
      @include animation(
        floating_opposite 6s easing($ease-in-out-back) 0s both infinite
      );
      //      @include animation-delay(-0.25s);
    }

    .cape {
      @include transform-origin(0px 0px);
      transform-box: fill-box;
      @include animation(
        cape_flapping 4s easing($ease-in-out-sine) 0s both infinite
      );
    }
  }

  .eye {
    @include translate(2px, 1.5px);

    .sclera {
      @include translate(-2px, -1.5px);
    }

    .pupil {
      transform-box: fill-box;
      transform: rotate(var(--deg));
    }
  }

  .blink {
    ellipse {
      @include transform-origin(0px 0px);
      transform-box: fill-box;
      @include animation(blink 7s easing($ease-out-sine) 0s both infinite);
    }
  }

  .moustache_left {
    @include transform-origin(11px 2.5px);
    transform-box: fill-box;
    @include animation(moustache 4s easing($ease-in-out-back) 0s both infinite);
  }

  .moustache_right {
    @include transform-origin(3px 2.5px);
    transform-box: fill-box;
    @include animation(
      moustache 4s easing($ease-in-out-back) 0s both infinite alternate-reverse
    );
  }

  .shadow {
    fill: rgba(#888, 0.1);
  }

  .footer_container {
    position: absolute;
    //left: 20%;
    right: 20%;
    top: calc(#{$splash_position} + #{$padding});
    z-index: 100;

    display: flex;
    align-items: flex-end;
    gap: $padding * 0.5;

    //    height: $splash_footer_height;

    @include not_desktop() {
      left: $padding * 2;
      right: $padding * 2;
    }

    .molecule_green {
      flex-grow: 1;

      margin: {
        left: $padding * 2;
        bottom: -2px; //offset because of svg shadow not lining up perfectly with orange shadows
      }

      @include transform-origin(25px 55px);
      @include animation(green_tilt 9s easing($ease-in-out) 0s both infinite);

      @include not_desktop() {
        margin: {
          left: 0px;
        }
      }

      svg {
        @include scale(1.3);
      }

      .blink {
        ellipse {
          @include animation-duration(6s);
          @include animation-delay(-5s);
        }
      }

      .molecule_body {
        @include transform-origin(32px 15px);
        transform-box: fill-box;
        @include animation(jump 9s easing($ease-in-out) 0s both infinite);
      }

      .left_leg {
        @include transform-origin(0px 0px);
        transform-box: fill-box;
        @include animation(
          jump_legs 9s easing($ease-in-out-cubic) 0s both infinite
        );
      }

      .right_leg {
        @include transform-origin(0px 0px);
        transform-box: fill-box;
        @include animation(
          jump_legs 9s easing($ease-in-out-cubic) 0.3s both infinite
        );
      }

      .mouth {
        @include transform-origin(2.5px 3px);
        transform-box: fill-box;
        @include animation(
          open_mouth 9s easing($ease-in-out-cubic) -5s both infinite
        );
      }
    }

    .molecule_orange_light {
      margin: {
        right: 0px; //have hands overlap
      }

      svg {
        @include scale(1.3);
      }

      .arms {
        @include transform-origin(center 40%);
        @include animation(raise_arms 6s easing($ease-in-out) 0s both infinite);
      }

      .arms_right {
        @include transform-origin(center 40%);
        @include animation(high_five 6s easing($ease-in-out) 0s both infinite);
      }

      .mouth {
        @include transform-origin(2.5px 3px);
        transform-box: fill-box;
        @include animation(
          open_mouth 6s easing($ease-in-out-cubic) -4s both infinite
        );
      }
    }

    .molecule_orange {
      //      @include animation(high_five 6s easing($ease-in-out) 0s both infinite);

      svg {
        @include scale(1.3);
      }

      .arms {
        @include transform-origin(center 40%);
        @include animation(high_five 6s easing($ease-in-out) 0s both infinite);
      }

      .mouth {
        @include transform-origin(2.5px 3px);
        transform-box: fill-box;
        @include animation(
          open_mouth 6s easing($ease-in-out-cubic) -4.4s both infinite
        );
      }

      .blink {
        ellipse {
          @include animation-duration(9s);
          @include animation-delay(-3s);
        }
      }
    }
  }
}

