/**************** app-header css ******************/

@import "../styles/core";

//**************** custom mixins ******************

//**************** css ******************

.header {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  border: {
    bottom: 1px solid color_variable("header_border");
  }

  font: {
    family: $font_family_header;
    size: 120%;
  }

  > div {
    display: flex;
    align-items: center; //flex-end;

    padding: $padding * 0.5;

    &:first-child {
      margin: {
        left: $padding * 0.5;
      }
    }

    &:last-child {
      margin: {
        right: $padding * 0.5;
      }
    }
  }

  .header_title {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
  }
}

.logo {
  width: $padding * 2.3;
  height: $padding * 2.3;

  background: {
    color: #3a3a3a;
  }

  margin: {
    right: $padding * 0.25;
  }
}

.logo_label {
  margin: {
    right: $padding;
  }

  font: {
    weight: bold;
    size: $font_size_min;
  }
  line: {
    height: 110%;
  }
  text: {
    transform: uppercase;
  }
}

.code {
  color: color_variable("default");

  margin: {
    right: $padding * 0.5;
  }

  font: {
    size: 0.85rem;
    weight: bold;
  }
}

input[type="text"] {
  padding: ($padding * 0.35) ($padding * 0.5);

  font: {
    family: $font_family_header;
    size: 90%;
  }

  border: 1px solid color_variable("interface_border");
}

.button {
  cursor: pointer;

  padding: ($padding * 0.4) ($padding * 1.25);

  font: {
    size: 0.75rem;
  }

  border: 1px solid color_variable("button_border");

  @include border-radius($border_radius);
  @include transition(#{background-color 0.2s easing($ease-in)});

  & + .button {
    margin: {
      left: $padding * 0.5;
    }
  }

  &:hover {
    color: color_variable("background");
    background: {
      color: color_variable("button_hover");
    }

    border: {
      color: color_variable("button_hover");
    }

    @include transition(none);
  }
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 46px;
  box-sizing: border-box;
  background: #31509E;
  border-radius: 32px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  color: #F8F8F8;
  cursor: pointer;
  user-select: none;
}

$menu-background: #31509E;
.menu {
  padding: 8px 0;
  position: fixed;
  top: 80px;
  right: 16px;
  width: 151px;
  background: $menu-background;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  z-index: 5000; // TODO: there must be a better way
  user-select: none;

  & > div {
    padding: 4px 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    cursor: pointer;

    &:hover {
      background: lighten($menu-background, 5%);
    }

    &:active {
      background: darken($menu-background, 5%);
    }
  }
}
