<!-- todo: change to data driven toggle structure -->
<div class="toggle"
  [class.select_0]="currentToggle == 'build'"
  [class.select_1]="currentToggle == 'preset'"
>
  <div class="button" [class.selected]="currentToggle == 'build'" (click)="onChangeToggle('build')">Build your own</div>
  <div class="button" [class.selected]="currentToggle == 'preset'" (click)="onChangeToggle('preset')">Presets</div>
</div>

<div class="block_list">
  <div class="info">
    <div class="count">{{getBlockDataLength()}} Block{{(getBlockDataLength() == 1) ? '' : 's'}} Available</div>
    <div class="filter">Filter <div class="filter_setting">Largest</div></div>
  </div>

  <div class="content">
    <block *ngFor="let block of getBlockData()"
      [type]="currentBlockType"
      [label]="block.label"
      [svgUrl]="block.svgUrl"
      [imageWidth]="block.width"
      [imageHeight]="block.height"
      [size]="BlockSize.Small"
      (dblclick)="selectBlock(block)"
    ></block>
  </div>

  <!-- todo: change to data driven tab structure -->
  <div class="tabs">
    <div *ngFor="let key of getBlockDataKeys(); let index = index"
      class="button"
      [class]="['button_' + key]"
      [class.selected]="currentBlockType == key"

      (click)="selectTab(key)"
    >
      <!-- todo, change iconlabel to better angular structure. hacking the type to make it a string -->
      <block [type]="key" [size]="BlockSize.Icon" [iconLabel]="'' + (index + 1)"></block>

      <div class="label">{{key}} blocks</div>
    </div>
  </div>
</div>
