/**************** block css ******************/

@use "sass:math";
@import "../../../styles/core";

$toggle_button_count: 2;
$sidebar_width: 500px;

//**************** custom mixins ******************

@mixin type_color($color) {
  &.color_type_#{"" + $color} {
    background: rgba($color, 0.2);
    flex-basis: calc(100% / 8);
  }
}

//**************** css ******************

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.control_bar {
  display: flex;
  align-items: center;
  gap: $padding * 0.25;
  flex-wrap: wrap;

  margin: {
    top: $padding * 0.5;
  }

  .type {
    cursor: pointer;
    position: relative;

    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: $padding * 0.25;

    height: 1.5rem;

    padding: ($padding * 0.25) ($padding * 0.5);

    border: 1px solid color_variable("interface_border");

    @include border-radius($border_radius);

    &.has_selected_type {
      &:not(.selected) {
        &:not(:hover) {
          color: color_variable("text_faded");

          @include opacity(50);

          .molecule_svg {
            path {
              fill: #ccc;
              stroke: #888;
            }
          }
        }
      }
    }

    &.selected {
      border: {
        color: color_variable("button_selected");
      }
    }

    &:hover {
      border: {
        color: color_variable("button_hover");
      }

      @include opacity(100);
    }

    &.color_type {
      flex: 1;
      .label {
        font-size: 0.6rem;
      }
    }

    $colors: yellow, orange, red, magenta, violet, blue, cyan;
    @each $color in $colors {
      @include type_color($color);
    }

    .label {
      font: {
        size: 0.75rem;
      }
      text: {
        transform: uppercase;
      }
    }
  }

  .spacer {
    flex-grow: 1;
  }
}
