/**************** block css ******************/

@import '../styles/core';

$block_border_width: 4px;
$block_border_radius: 2px;

$block_icon_width: 42px;
$block_icon_height: 36px;

//**************** custom mixins ******************

@mixin block_style($name) {
  &.block_#{$name} {
    .block_background {
      fill: color_variable('block_' + $name);
    }

    .block_border {
      stroke: color_variable('block_' + $name + '_border');
    }
  }
}


//pass 2 variables
//example: top, left

//no longer needed, can remove in the future

@mixin corner($corners...) {
  //.top_left
  .#{nth($corners, 1)}_#{nth($corners, 2)} {
    position: absolute;
    z-index: 100;

    width: 10px;
    height: 10px;

    @include border-radius($border_radius);

    @each $name in $corners {
      #{$name}: 0px; //top: 0px

      border: {
        #{$name}: $block_border_width solid color_variable('block_border'); //top
      }

    }
  }
}


//**************** css ******************

.block_container {
  position: relative;

  @include box-sizing(border-box);

  @include block_style('start');
  @include block_style('middle');
  @include block_style('end');

  z-index: get_index(modal);

/*
  @include corner(top, left);
  @include corner(top, right);
  @include corner(bottom, left);
  @include corner(bottom, right);
*/

  &:not(.dashes):hover {
    cursor: pointer;

    .block_background {
      fill: color_variable('block_hover');
      @include transition(none);
    }

    .block_border {
      stroke: color_variable('block_hover_border');
      @include transition(none);
    }
  }

  &.dashes {
    cursor: pointer;

    .block_background {
      fill: color_variable('background');
    }

    .block_border {
      stroke: color_variable('block_border_dashes');
    }

    &:hover {
      .block_border {
        stroke: color_variable('block_hover_dashes');
        @include transition(none);
      }
    }
  }

  &.size_small {
  }

  .icon_label {
    color: color_variable('background');

    font: {
      weight: bold;
    }
  }

  #tab_right {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 100;

    @include translate(20px, 20px);
  }

  .block_background {
    @include transition(#{fill .2s easing($ease-in), stroke .2s easing($ease-in)});
  }

  .block_border {
    @include transition(#{fill .2s easing($ease-in), stroke .2s easing($ease-in)});
  }

  .tab_offset {
    @include translate(0px, 20px);
  }

  .image {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;

    @include translate(-50%, -50%);

    svg {
      fill: white;

      ::ng-deep text {
        isolation:isolate;
        font-size:10px;
        font-family:Arial-BoldMT, Arial;
        font-weight:400;
      }

      ::ng-deep .connection_out {
        stroke: white;
        fill: #ffb800;
        stroke-miterlimit: 10;
      }

      ::ng-deep .connection_in {
        stroke: white;
        fill: #e64fff;
        stroke-miterlimit: 10;
      }

    }
  }

  .block_label {
    font: {
      size: 90%;
    }
  }
}
