<ng-template #childComponentTemplate (blur)="closeOverlay()">
  <svg width="100%" height="100%" class="block_container"
    [class]="[
      'block_' + block.type
    ]"
    [class.dashes]="isAddBlock()"

    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"

    (click)="isInfoPanelOpen = !isInfoPanelOpen"
  >
    <g><path class="block_background block_border"
      [attr.d]="path"
      [attr.stroke-dasharray]="strokeDasharray"
      [attr.stroke-width]="strokeWidth"
    ></path></g>
    <g [attr.transform]="'matrix(' + imageZoomAndPanMatrix.join(' ') + ')'" class="image">
      <g #svgImage *ngIf="block.svgUrl"
        [attr.data-src]="block.svgUrl"
        data-cache="disabled"
      />
    </g>
  </svg>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isInfoPanelOpen"
    [cdkConnectedOverlayPositions]="positionPairs"
  >
    <dmm-overlay
      [label]='"block"'
      [tags]='["High Luminance", "Medical"]'
      [properties]='[
        {label: "ID", value: block.id, hasCheckMark: true},
        {label: "Chemical Formula", value: block.chemicalFormula},
        {label: "Molecular Weight", value: block.molecularWeight}
      ]'
      [additionalProperties]='[
        {label: "Solvation Free Energy", value: block.solvationFreeEnergy},
        {label: "Solvation Surface Charge", value: block.solvationSurfaceCharge},
        {label: "HOMO-1", value: block.HOMOMinus1},
        {label: "Radius of Gyration", value: block.radiusOfGyration},
        {label: "# of H-Bond Donors", value: block.HBondDonors},
        {label: "HOMO", value: block.HOMO},
        {label: "Asphericity", value: block.Asphericity},
        {label: "Octanol-Water Partition Coefficient", value: block.octanolWaterPartitionCoefficient},
        {label: "LUMO", value: block.LUMO},
        {label: "# of Conjugated Bonds", value: block.conjugatedBonds},
        {label: "Solvation Charge Correction", value: block.solvationChargeCorrection},
        {label: "LUMO+1", value: block.LUMOPlus1}
      ]'

      (close)="isInfoPanelOpen = !isInfoPanelOpen"
    >
      <ng-template let-overlay #templateAdditionalProperties>
        <!-- <p>testing that this will show up</p> -->
      </ng-template>

      <ng-template let-overlay #templateFooter>

      </ng-template>
    </dmm-overlay>

  </ng-template>
</ng-template>

