<ng-template #childComponentTemplate>
  <svg width="100%" height="100%" class="block_container"
  [class]="[
    'block_' + type
  ]"
  [class.dashes]="isAddBlock()">
    <g><path class="block_background block_border"
      [attr.d]="path"
      [attr.stroke-dasharray]="strokeDasharray"
      [attr.stroke-width]="strokeWidth"
    ></path></g>
    <g [attr.transform]="'matrix(' + imageZoomAndPanMatrix.join(' ') + ')'" class="image">
      <g #svgImage *ngIf="svgUrl"
        [attr.data-src]="svgUrl"
        data-cache="disabled"
      />
    </g>
  </svg>
</ng-template>
