<div class="color-playground">
  <div>
    <h4>Absorption Spectrum</h4>
    <div class="rainbow">
      <div class="layer">
        <div
          *ngFor="let color of rainbow"
          class="step"
          [style.background]="color"
        ></div>
      </div>
      <svg viewBox="0 0 500 200" class="overlay">
        <path [attr.d]="LPath" stroke="#ff8888" stroke-width="4" fill="none" />
        <path [attr.d]="MPath" stroke="#88ff88" stroke-width="4" fill="none" />
        <path [attr.d]="SPath" stroke="#8888ff" stroke-width="4" fill="none" />
        <path
          [attr.d]="absorptionSpectrumPath"
          stroke="white"
          fill="#000000cc"
          stroke-width="1"
        />
      </svg>
      <p-slider
        [(ngModel)]="lambda"
        [min]="minWavelength"
        [max]="maxWavelength"
      ></p-slider>
    </div>
    <div class="slider">
      <h5>Amplitude</h5>
      <p-slider
        [(ngModel)]="maxAbsorption"
        [min]="0"
        [max]="1"
        [step]="0.01"
      ></p-slider>
    </div>
    <div class="slider">
      <h5>Standard Deviation</h5>
      <p-slider [(ngModel)]="standardDeviation" [min]="1" [max]="100"></p-slider>
    </div>
  </div>
  <div>
    <h4>Absorbed</h4>
    <div class="result" [style.background]="absorbedColor"></div>
  </div>
  <div>
    <h4>Perceived</h4>
    <div class="result" [style.background]="perceivedColor"></div>
  </div>
</div>
