<div class="panel_container wide" [class.inactive]="!isPanelActive">
  <div class="panel" *ngIf="isPanelActive" @panelAnimation>
    <svg
      width="20"
      height="20"
      viewBox="0 0 20 20"
      class="close_btn"
      (click)="closePanel()"
      @panelCloseButtonAnimation
      (@panelCloseButtonAnimation.done)="onPanelAnimationEvent($event)"
    >
      <circle cx="10.5" cy="10" r="10" />
      <line
        x1="5.93529"
        y1="5.41895"
        x2="15.0465"
        y2="14.5302"
        stroke="#434343"
        stroke-width="3"
        stroke-linecap="round"
      />
      <line
        x1="6.04775"
        y1="14.7812"
        x2="14.7371"
        y2="5.26683"
        stroke="#434343"
        stroke-width="3"
        stroke-linecap="round"
      />
    </svg>

    <div class="panel_title">My Molecular Cart</div>

    <div class="molecules">
      <!-- todo: convert this molecule layout to be data driven -->

      <div
        class="molecule"
        *ngFor="let molecule of personalCart$ | async; let moleculeId = index"
      >
        <dmm-molecule-summary
          [molecule]="molecule"
          [moleculeId]="moleculeId"
          [blockSet]="blockSet!"
        >
          <!-- todo: add remove from cart functionality -->
          <div
            action
            class="button outline_button"
            (click)="sendBackToWorkspace(molecule)"
          >
            Send back to workspace
          </div>
        </dmm-molecule-summary>
      </div>
    </div>

    <div *ngIf="group$ | async" class="group-cart-buttons">
      <p-button
        class="secondary-button"
        label="View Group Cart"
        (click)="viewGroupCart()"
      >
      </p-button>
      <p-button
        class="primary-button"
        label="Add to Group Cart"
        (click)="addToGroupCart()"
      >
      </p-button>
    </div>
  </div>
</div>
