<div class="panel_container wide" [class.inactive]="!isPanelActive">
  <div
    class="close_btn"
    *ngIf="isPanelActive"
    (click)="closeAll()"
    @panelCloseButtonAnimation
    (@panelCloseButtonAnimation.done)="onPanelAnimationEvent($event)"
  >
    <div class="icon">X</div>
  </div>

  <div
    class="panel"
    *ngIf="step == 1"
    [@panelAnimation]="isIncreasing ? 'increasing' : 'decreasing'"
  >
    <div class="panel_title">My Molecular Cart</div>

    <div class="molecules">
      <!-- todo: convert this molecule layout to be data driven -->

      <div
        *ngFor="let molecule of cartMoleculeList; let moleculeId = index"
        class="molecule"
      >
        <inplace class="molecule_name">
          <ng-template #display>
            <div class="label">
              <!--              <span *ngIf="moleculeName && moleculeName!.trim().length > 0">{{moleculeName}}</span>-->
              {{ molecule.label }}

              <!--              <span class="placeholder" *ngIf="!moleculeName || moleculeName!.trim().length == 0">(Click to edit {{moleculeNamePlaceholder}})</span>-->

              <div class="icon_inline">
                <svg
                  version="1.1"
                  id="Layer_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 32 32"
                  style="enable-background: new 0 0 32 32"
                  xml:space="preserve"
                >
                  <path
                    d="M30.1,5l1.3-1.4c0.7-0.8,0.8-1.9,0.1-2.7L31,0.4c-0.6-0.7-1.8-0.5-2.6,0.2L27,2L30.1,5z"
                    fill="#3A3A3A"
                  />
                  <path
                    d="M5.7,32h17.9c3.5,0,5.5-2,5.5-5.7v-16l-4.5,4.5v10.9c0,1.2-0.6,1.8-1.6,1.8H6.3c-1.2,0-1.8-0.5-1.8-1.8V9.2
                  c0-1.2,0.6-1.8,1.8-1.8h11l4.5-4.5H5.7C2.1,2.9,0,4.9,0,8.6v17.7C0,30,2.1,32,5.7,32z"
                    fill="#3A3A3A"
                  />
                  <path
                    d="M12.2,20.7l3.6-1.4L29,6.1l-3-3L12.7,16.3l-1.4,3.5C11.1,20.4,11.7,20.9,12.2,20.7z"
                    fill="#3A3A3A"
                  />
                </svg>
              </div>
            </div>
          </ng-template>

          <ng-template #content>
            <input
              type="text"
              [(ngModel)]="molecule.label"
              [placeholder]="moleculeNamePlaceholder"
            />
          </ng-template>
        </inplace>

        <div class="molecule_content">
          <!-- todo: add molecule preview here -->
          <div class="preview">
            <svg viewBox="0 0 600 200">
              <g
                dmm-molecule-svg
                [molecule]="molecule"
                [interactive]="false"
              ></g>
            </svg>
          </div>

          <div *ngIf="blockSet" class="info">
            <div class="chemical_formula">
              <div class="label">{{ blockSet.labelProperty.label }}</div>
              <div
                class="value"
                [innerHtml]="
                  getAggregateProperty(molecule, blockSet.labelProperty)
                    | chemicalProperty: blockSet.labelProperty.displayStrategy
                "
              ></div>
            </div>

            <div class="weight">
              <div class="label">{{ blockSet.primaryProperty.label }}</div>
              <div
                class="value"
                [innerHtml]="
                  getAggregateProperty(molecule, blockSet.primaryProperty)
                    | chemicalProperty: blockSet.primaryProperty.displayStrategy
                "
              ></div>
            </div>

            <!-- todo: add remove from cart functionality -->
            <div
              class="button outline_button"
              (click)="sendBackToWorkspace(moleculeId)"
            >
              Send back to workspace
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="canSubmitMolecule()" class="button_group">
      <div *ngIf="cartMoleculeList.length > 0" class="panel_label">
        Does everything <span class="nowrap">look good?</span>
      </div>
      <div *ngIf="cartMoleculeList.length === 0" class="panel_label">
        There are no molecules in your cart. Add a molecule by connecting a
        start, middle, and end block, clicking on the molecule, and then
        pressing the "Add to Cart" button.
      </div>

      <div
        class="button"
        [class.disable_submit]="cartMoleculeList.length === 0"
        (click)="submitMolecules()"
      >
        <div class="label">
          Let's make <span class="nowrap">this thing!</span>
        </div>
        <div class="icon">
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 64 64"
            style="enable-background: new 0 0 64 64"
            xml:space="preserve"
          >
            <path
              d="M32,64c17.7,0,32-14.3,32-32S49.7,0,32,0S0,14.3,0,32S14.3,64,32,64z M43.6,30.6c0.3,0.3,0.6,0.8,0.6,1.3
            c0,0.5-0.2,1-0.6,1.3l-8.1,8.1c-0.4,0.4-0.8,0.6-1.3,0.6c-1.1,0-1.8-0.7-1.8-1.7c0-0.5,0.2-1,0.6-1.3l2.8-2.8l2.8-2.6l-2.7,0.2H21.7
            c-1.1,0-1.9-0.7-1.9-1.8c0-1.1,0.8-1.8,1.9-1.8h14.1l2.7,0.2l-2.8-2.6L33,24.9c-0.3-0.3-0.6-0.7-0.6-1.3c0-1,0.7-1.7,1.8-1.7
            c0.4,0,0.9,0.2,1.3,0.6L43.6,30.6z"
              fill="#ffffff"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div
    class="panel"
    *ngIf="step == 2"
    [@panelAnimation]="isIncreasing ? 'increasing' : 'decreasing'"
  >
    <div class="panel_title">Success</div>
    <div class="panel_label">Your molecule is being made!</div>
    <!-- using this panel as a success message for now
    <button (click)="previousStep()">Previous</button>
    <button (click)="nextStep()">Next</button>
    -->
  </div>

  <div
    class="panel"
    *ngIf="step == 3"
    [@panelAnimation]="isIncreasing ? 'increasing' : 'decreasing'"
  >
    <h3>step 3</h3>
    <button (click)="previousStep()">Previous</button>
    <button (click)="nextStep()">Next</button>
  </div>

  <div
    class="panel"
    *ngIf="step == 4"
    [@panelAnimation]="isIncreasing ? 'increasing' : 'decreasing'"
  >
    <h3>step 4</h3>
    <button (click)="previousStep()">Previous</button>
    <button (click)="nextStep()">Next</button>
  </div>

  <div
    class="panel"
    *ngIf="step == 5"
    [@panelAnimation]="isIncreasing ? 'increasing' : 'decreasing'"
  >
    <h3>step 5</h3>
    <button (click)="previousStep()">Previous</button>
  </div>
</div>
